*{
  margin: 0px;
    padding: 0px;
}

body{
  margin-bottom: 100px;
}

h1{
  color: white;
}

p{
  margin-top: 15px;
}

img{
  width: 100%;
}

#ranking {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#ranking td, #ranking th {
  border: 1px solid #ddd;
  padding: 8px;
}

#ranking tr:nth-child(even){background-color: #f2f2f2;}

#ranking tr:hover {background-color: #ddd;}

#ranking th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00ccff;
  color: white;}

.heading{
  margin: 0;
  height: 70px;
  background-color: #00ccff;
  border-bottom: 4px solid #008fb3;
}

.title{
  margin-right: auto;
  margin-left: auto;
  font-size: 50px;
  height: 100%;
  padding-top: 5px;
  text-align: center;
}

.content-area{
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

.infographic{
  margin: 20px;
}

.tab{
  margin-left:5em
}

.biggerFont{
  font-size: 20px;
}

.code-snip{
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
